
.col-lg-9 p{
      margin-bottom: 30px;
    }

.col-lg-9 h5{
      margin-top: 32px;
      padding-bottom: 10px;
      border-bottom: 1px solid #888888;
    }

.btnCode{
      font-size: 25px;
      background: yellow;
      margin-left: 10px;
    }
.divCode input,.divCode button,.divCode img{
      display: inline-block;
    }
